<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>

<form method="POST" th:action="@{/register}">
    <label for="username">Username: </label>
    <input type="text" name="username" /><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" /><br/>
    <label for="fullname">Full Name: </label>
    <input type="text" name="fullname" /><br/>
    <label for="email">Email: </label>
    <input type="email" name="email" /><br/>
    <input type="submit" value="Register"/>
</form>

<p><a th:href="@{/login}">Login</a></p>
</body>
</html>